@charset "UTF-8";
/*  sample */
@font-face {
  font-family: "utsukushi";
  src: url("../fonts/02UtsukushiMincho/02UtsukushiMincho.ttf");
  font-weight: normal;
}
html {
  font-size: 62.5%;
}
@media (max-width: 1100px) {
  html {
    font-size: 0.9vw;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 1.6vw;
  }
}

html.wf-active {
  visibility: visible;
}

body {
  font-size: 1.5rem;
  color: white;
  letter-spacing: 0.05em;
  font-family: futura-pt, Hiragino Sans, "ヒラギノ角ゴシック", Hiragino Kaku Gothic ProN, "ヒラギノ角ゴ ProN W3", Roboto, "Droid Sans", YuGothic, "游ゴシック", Meiryo, "メイリオ", Verdana, "MS Pゴシック", sans-serif;
  line-height: 1.6;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(to bottom, #072142, #061c37, #07182b, #061220, #020b16);
}

img {
  display: block;
  width: 100%;
  object-fit: contain;
}

a {
  list-style: none;
  text-decoration: none !important;
  transition: all 0.3s ease-in-out;
}

/*! destyle.css v3.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

.header {
  display: flex;
  padding: 2% 3%;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  color: #fff;
  z-index: 3;
}
.header__logo {
  font-size: 2.7rem;
  font-weight: bold;
  position: relative;
  z-index: 3;
}

.section {
  width: 100vw;
  height: 100vh;
  position: relative;
  scroll-snap-align: start;
}
.section__container {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.section__border {
  width: 90px;
  background-color: rgba(255, 81, 0, 0.9450980392);
  height: 4px;
  display: inline-block;
}
.section__border:nth-of-type(1) {
  margin-top: 20px;
  margin-bottom: 10px;
}
.section__border:nth-of-type(2) {
  margin-left: 55px;
  margin-bottom: 22px;
}
.section__img-wrap {
  overflow: hidden;
  width: 53%;
  height: 70%;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(80%, -50%) scale(1);
  background-position: center;
  box-shadow: 0 80px 140px -40px rgba(0, 0, 0, 0.6);
}
.section__img-wrap a {
  display: block;
  width: 100%;
  height: 100%;
}
.section__img-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.83;
  top: 0;
  right: 0;
  background: #ff4d5a;
  transition: transform 0.6s cubic-bezier(0.15, 0.65, 0.35, 0.65);
  transition-delay: 0.2s;
}
.section__img-cover:nth-of-type(2) {
  background: #072142;
  transition: transform 0.7s cubic-bezier(0.15, 0.65, 0.35, 0.65);
  transition-delay: 0.1s;
}
.section__inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.section__copy-wrap {
  text-align: left;
  overflow: hidden;
  left: 11%;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  z-index: 2;
}
.section__copy-inner {
  transition: transform 0.9s ease-in-out;
  transform: translateX(-1000px);
}
.section__copy {
  font-size: 10rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-bottom: 2%;
  position: relative;
  z-index: 2;
  transition: all 0.6s ease-in-out;
}
.section__sub-copy {
  font-size: 3rem;
  margin-top: 3%;
  transition: all 0.6s ease-in-out;
  transition-delay: 0.2s;
}

#works-hero .section__img-wrap {
  background-image: url("/image/works.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.works .section__img-wrap {
  background-image: url("/image/works.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.about .section__img-wrap {
  background-image: url("/image/about.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.contact .section__img-wrap {
  background-image: url("/image/contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#about-hero .section__img-wrap {
  background-image: url("/image/about.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.common-hero .section__img-wrap {
  position: absolute;
  height: 100vh;
  transform: translate(0%, 0%);
  top: 0;
  right: 0;
  width: 60%;
}

.page-container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.g-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, #072142, #8c2b7a 42%, #ff4d5a);
  transform: translateY(-100%);
  transition: transform 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: 2;
}
.g-nav__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.g-nav__link {
  font-weight: bold;
  font-size: 12rem;
  letter-spacing: 0.15em;
  transform: translateY(-100%);
  display: block;
  transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-delay: 0.35s;
}
.g-nav__item {
  margin-bottom: 7%;
  overflow: hidden;
}
.g-nav__item:last-of-type {
  margin-bottom: 0;
}

.burger-btn {
  width: 50px;
  height: 21px;
  position: relative;
  z-index: 3;
}
.burger-btn__bar {
  width: 50px;
  position: absolute;
  height: 3px;
  background: #fff;
  transition: opacity 0.3s, transform 0.3s ease-in-out;
}
.burger-btn__bar:nth-of-type(1) {
  top: 0px;
}
.burger-btn__bar:nth-of-type(2) {
  top: 13px;
}
.burger-btn__bar:nth-of-type(3) {
  top: 26px;
}
.burger-btn__bar:nth-of-type(1).bar-active {
  transform: translate(0px, 13px) rotate(-45deg);
}
.burger-btn__bar:nth-of-type(2).bar-active {
  opacity: 0;
  transition-delay: 0.2s;
}
.burger-btn__bar:nth-of-type(3).bar-active {
  transform: translate(0px, -12px) rotate(45deg);
}

.link-active {
  transform: translate(0);
}

.m-active {
  transform: translateY(0);
}

.hero {
  position: relative;
}
.hero__moon {
  transition: all 0.4s cubic-bezier(0.1, 0.5, 0.7, 0.3);
  position: relative;
  opacity: 0;
  right: -1000px;
}
.hero__moon-wrap {
  overflow: hidden;
  width: 51%;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  right: 9%;
  transition: all 0.6s ease-in-out;
}
.hero__tit {
  font-size: 6rem;
  color: rgba(255, 81, 0, 0.9450980392);
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-family: futura-pt-bold, sans-serif;
  transition: all 0.5s ease-out;
  transition-delay: 0.1s;
  position: absolute;
  top: 50%;
  left: 65%;
  opacity: 0;
  transform: translate(0%, -50%);
}

.contact__icons {
  margin-top: 3%;
}
.contact__icons i {
  font-size: 4rem;
  margin-right: 3%;
}
.contact__mail {
  margin-top: 3%;
  font-size: 3rem;
}

.about-bg {
  background-color: #fff;
}

.about__sec-tit {
  font-weight: bold;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 3px solid #EE6161;
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: 5%;
  font-size: 6.5rem;
  letter-spacing: 5px;
  text-align: left;
}
.about__sec-tit:after {
  content: "";
  width: 27.27%;
  height: 3px;
  background: #391E88;
  position: absolute;
  left: 0;
  bottom: -3px;
}

.about-pro {
  color: #333;
  background-color: #fff;
  padding: 5%;
  font-size: 2rem;
}
.about-pro__txt {
  color: #908e8e;
  font-size: 1.7rem;
}
.about-pro__name {
  font-weight: bold;
  font-size: 2.9rem;
  margin-right: 3%;
}
.about-pro__sub-name {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 2%;
  display: block;
}
.about-pro__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-pro__img-wrap {
  width: 45%;
  margin-right: 5%;
}

.skill {
  color: #333;
  padding: 5%;
}
.skill__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.skill__bl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
  margin-bottom: 5%;
}
.skill__bl:nth-of-type(9), .skill__bl:nth-of-type(10) {
  margin-bottom: 0;
}
.skill__img-wrap {
  width: 13%;
}
.skill__gage {
  width: 83%;
}
.skill__year {
  font-size: 2rem;
  color: #d1cfcf;
}
.skill__name {
  font-size: 3.5rem;
  margin-right: 2%;
}

.footer {
  padding: 5%;
}
.footer__icon {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__icon a {
  margin-right: 3%;
}
.footer__icon a:last-of-type {
  margin: 0;
}
.footer__icon i {
  font-size: 3.5rem;
}
.footer__inner {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
.footer p {
  text-align: center;
  font-size: 3.5rem;
}

.works-page {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-snap-stop: always;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.works-page__bl {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
}
.works-page__tit {
  text-align: center;
  font-size: 6.5rem;
  letter-spacing: 5px;
  font-weight: bold;
  margin-bottom: 3%;
}
.works-page__link {
  color: #9494ee;
}
.works-page__section {
  scroll-snap-align: start;
  width: 100vw;
  height: 100vh;
}
.works-page__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.works-page__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.works-page__content {
  padding: 0 5%;
  background-color: #080707;
}
.works-page__thum-wrap {
  width: 50%;
  border: 1px solid #b0adad;
}
.works-page__list {
  width: 40%;
}
.works-page__list dt {
  font-size: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.works-page__list dt::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #fff;
  transform: rotate(45deg);
  margin-right: 3%;
}
.works-page__list dd {
  font-size: 2.5rem;
  opacity: 0.75;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;
}
.works-page__list dd::before {
  content: "";
  display: block;
  width: 15px;
  height: 2px;
  background-color: #fff;
  margin-right: 3%;
}
.works-page__desc {
  font-size: 2rem !important;
}
.works-page__desc::before {
  display: none !important;
}

.footer-works {
  display: none;
  padding: 0 5%;
  position: fixed;
  bottom: 5%;
  transform: translatex(-50%);
  left: 50%;
}
.footer-works__inner {
  text-align: center;
}
.footer-works small {
  font-size: 1.7rem;
  letter-spacing: 3px;
  opacity: 0.75;
}

.main-bg {
  background: linear-gradient(to bottom, #072142, #061c37, #07182b, #061220, #020b16);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.common-hero {
  width: 100vw;
  height: 100vh;
  background: #080707;
}

.link-btn {
  width: 200px;
  height: 50px;
  font-weight: bold;
  border-radius: 50px;
  text-align: center;
  appearance: none;
  margin-top: 3%;
  letter-spacing: 0.2em;
  background: #ff4d5a;
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
}
.link-btn a {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 4;
}

.scrollbar {
  position: fixed;
  width: 406px;
  bottom: 50px;
  left: -145px;
  display: flex;
  align-items: center;
  transform: rotate(90deg);
  transition: all 0.7s ease-in-out;
}
.scrollbar span {
  display: inline-block;
}
.scrollbar__line {
  overflow: hidden;
  width: 80px;
}
.scrollbar__line:after {
  display: block;
  content: "";
  width: 80px;
  height: 1px;
  background-color: #fff;
  animation: moveY 2s infinite ease;
}
.scrollbar__txt {
  font-size: 2rem;
  letter-spacing: 0.4em;
  margin-right: 1rem;
  font-weight: bold;
  color: #fff;
}

.scrollbar-efe {
  bottom: -200%;
  opacity: 0;
}

@keyframes moveY {
  0% {
    transform: translatex(-80px);
  }
  50% {
    transform: translatex(0px);
  }
  100% {
    transform: translatex(80px);
  }
}
.go-back {
  font-size: 5.5rem;
  color: #fff;
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.go-back__wrap {
  overflow: hidden;
  position: absolute;
  left: 3%;
  top: 10%;
  transition: transform 0.4s;
}

.ss-nav {
  position: fixed;
  left: 3%;
  transform: translateY(-50%);
  top: 50%;
  text-align: center;
}
.ss-nav i {
  display: block;
  font-size: 3rem;
  margin-bottom: 2.5rem;
  opacity: 0.45;
  transition: all 0.3s ease-in-out;
}
.ss-nav i:last-of-type() {
  margin-bottom: 0;
}

.link-current {
  opacity: 1 !important;
  font-size: 4rem !important;
  transform: rotate(180deg);
}

#fp-nav {
  margin-left: 2% !important;
  z-index: 1 !important;
  left: 0.7% !important;
}

#fp-nav span {
  background-color: #fff !important;
  height: 5px !important;
  width: 20px !important;
  border-radius: 0 !important;
  transition: width 0.5s !important;
  display: block;
}

#fp-nav span:last-of-type {
  margin: 0;
}

#fp-nav .active span {
  margin: 0 !important;
  width: 45px !important;
  transition: width 0.5s !important;
}

#fp-nav ul li {
  margin: 0 0 3rem 0 !important;
}

.moon-efe {
  opacity: 0;
  right: -30%;
}

.hero-copy-efe {
  transform: translatex(-40%);
}

.hero-sub-copy-efe {
  transform: translatex(-40%);
}

.hero-border-efe {
  transform: translatex(-160%);
}

.hero-tit-efe {
  transform: translateX(50%);
  opacity: 0;
}

.mask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  background-color: rgb(7, 7, 7);
  transition: transform 1.3s cubic-bezier(0.15, 0.65, 0.35, 0.65);
}

.mask-up {
  transform: translateY(-1200px);
}

.zoom {
  width: 73%;
  position: absolute;
  top: auto;
  right: 0;
  height: 100vh;
  transform: none;
}

.progressbar-text {
  font-size: 2rem !important;
  position: absolute !important;
  right: 0 !important;
  top: -30px !important;
  padding: 0 !important;
  margin: 0 !important;
  font-family: futura-pt-bold, sans-serif;
  font-weight: 600;
}

.p-bar {
  width: 100%;
  position: relative;
}
.p-bar svg {
  box-shadow: 0 5px 15px 0 rgba(7, 33, 66, 0.15);
}
.p-bar svg:nth-of-type(2) {
  display: none;
}

.is-show {
  display: block !important;
}

.is-hide {
  display: none;
}

.hero__tit-efe {
  left: 53%;
  opacity: 1;
}

.hero__copy-efe {
  transform: translateX(0);
  opacity: 1;
}

.hero__moon-efe {
  opacity: 1;
  right: 0;
}

.img-cover-efe {
  transform: translateX(110%) translateZ(0px) !important;
}

@media (max-width: 340px) {
  .br-xs {
    display: none;
  }
}

@media only screen and (min-width: 769px) {
  .br-sp {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .br-pc {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
