@use '../global' as g;







.about-pro {
    color: #333;
    background-color: #fff;
    padding: 5%;
    font-size: 2rem;
    &__inner {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__img-wrap {
        width: 45%;
        margin-right: 5%;
    }
    &__tit {
    margin-bottom: 15px;
    padding-bottom: 5px;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.06em;
    border-bottom: 3px solid #EE6161;
    position: relative;
    &:after {
        content: "";
    width: 27.27%;
    height: 3px;
    background: #391E88;
    position: absolute;
    left: 0;
    bottom: -3px;
    }
    }
}
