@use '../global' as g;



//hero 

.hero {
    position: relative;
    &__moon {
        transition: all .4s  cubic-bezier(0.1, 0.5, 0.7, 0.3);

    position: relative;
    opacity: 0;
    right: -1000px;
    }
    &__moon-wrap {
    overflow: hidden;
    width: 51%;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    right: 9%;
    transition: all .6s ease-in-out;
    }
    &__tit {
    font-size: 6rem;
    color: #ff5100f1;
    text-align: center;
    font-weight: bold;
    letter-spacing: .2em;
    font-family: futura-pt-bold, sans-serif;
    transition: all .5s  ease-out;
    transition-delay: .1s;
    position: absolute;
    top: 50%;
    left: 65%;
    opacity: 0;
    transform: translate(0%,-50%);
    }
  
  
}//hero

.contact {
    &__icons {
        margin-top: 3%;
        i {
        font-size: 4rem;
        margin-right: 3%;
        }
    }
    &__mail {
        margin-top: 3%;
        font-size: 3rem;
    }

}
  
 









